<?php

// if limit access, set accepted ip here (optional)
//define('ACCESSIBLE_IP', '');

//// memcach setting (optional)
//define('MEMCACHE_HOST', 'localhost');
//define('MEMCACHE_PORT', '11211');

// DB setting
$GLOBALS['_DB_DSN'] = array(
	// MasterDB 設定
	'default' => array(
		'connection'  => array(
			'dsn'        => 'mysql:host=localhost;dbname=dbname',
			'username'   => 'root',
			'password'   => '',
		),
		//'readonly' => array('slave1'),
	),
	// SlaveDB 設定
	//'slave1' => array(
	//	'connection'  => array(
	//		'dsn'        => 'mysql:host=localhost;port=3307;unix_socket=/tmp/mysql.sock2;dbname=dbname',
	//		'username'   => 'root',
	//		'password'   => '',
	//	),
	//),
);

